

<html>
<br>
<title>Dashboard</title>

<head>
<!-- Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Leaflet resources -->
 <link rel="stylesheet" href="leaflet/leaflet.css" />

  <script src="leaflet/leaflet.js"></script>

  <!-- D3.js -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<!-- Menu toggle -->

<script type="text/javascript">
		$(document).ready(function(){
    $("#mapButton").click(function(){
      // $("#map").show();
      $('#dashButton').removeClass('currTab');
      $('#actButton').removeClass('currTab');;
      $(this).addClass('currTab');
    });


    $("#dashButton").click(function(){
      // $("#map").hide();
      // $('#dash').show();
      $('#mapButton').removeClass('currTab');
      $('#actButton').removeClass('currTab');
      $(this).addClass('currTab');
    });
    $("#actButton").click(function(){
      // $("#map").hide();
      // $('#dash').show();
      $('#dashButton').removeClass('currTab');
      $('#mapButton').removeClass('currTab');
      $(this).addClass('currTab');
      $('#map').hide();
      $('#act').show();
    });

    $("#allVehicles").click(function(){
    	$('#all_vehicles_div').toggle();
    	// $('#glyphicon-play').hide();
    });
    $("#allCategories").click(function(){
    	$('#all_categories').toggle();
    	// $('#glyphicon-play').hide();
    });

    $("#POI_menu").click(function(){
      // $("#map").hide();
      // $('#act').hide();
      // $('#activity_graph').show();
      $('#vehicles_menu').removeClass('currMenu');
      $(this).addClass('currMenu');

    });
    $("#vehicles_menu").click(function(){
      // $("#map").show();
      // $('#activity_graph').hide();
      
      $('#POI_menu').removeClass('currMenu');
      $(this).addClass('currMenu');
    });


  });




</script>

<style type="text/css">
	th {
		background-color: #f1f1c1;
		padding:0 18px 0 18px;
	}
	#vehicle_activities_table {

	}
	.tableRows {
		cursor: pointer; 
	}
</style>



<!--  -->
	<script type="text/javascript" src='socket.io/socket.io.js'></script>


 <!-- // <script src = "/lib/websocket.js"></script> -->
<!-- // socket.io -->
  

  <!-- // <script type="text/javascript" src = "adminSource/dashboard.js"></script> -->

<!-- Calendar -->
<link rel="stylesheet" href="adminSource/calendar.css" />



  <script type="text/javascript">


  // Copied from dashboard.js



/* Check if socket is connected */




	



// End of copied code from dashboard.js

  </script>
 

  <link rel="stylesheet" type="text/css" href="adminSource/dashboard.css">

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body onload = "bodyLoaded()">

<div style = "background-color: #F0F8FF;">


<div class = "row" style = "background-color: #282828; color: #EEEEEE; padding-left: 25px; padding-right: 15px;">
		<!-- <div class = "col-sm-1"></div> -->
		<div class = "col-sm-6"><h3>Skylight Tradelink Pvt. Ltd.</h3></div>
		<div class = "col-sm-3"></div>
		<div class = "col-sm-1"><a href = "postjob"><h4>Apps</h4></a></div>
		<div class = "col-sm-1"><a href = "postclient"><h4>Profile</h4></a></div>
		<div class = "col-sm-1"><a href = "/logout"><h4>Log Out</h4></a></div>

</div>


<div class = "container">
	
	<!-- <span>{{name}}</span> -->
	<div class = "row" style="border-bottom:1px solid #CCCCCC;"><br>

		<div class = "col-sm-3">
			<!-- <a href = "/map"><button class = "btn btn-success btn-lg"><i class="material-icons w3-xxlarge">local_shipping</i></button></a> -->
			<div id = "vehicles_menu" class = "col-sm-7 menuItem currMenu"><h4><span class = "glyphicon glyphicon-road"></span> Vehicles</h4></div>
			<div id = "POI_menu" class = "menuItem col-sm-5"><h4><span class = "glyphicon glyphicon-map-marker"></span> POI</h4></div>
			<!-- <div id = "demo">Hey</div> -->


		</div>
		<div class = "col-sm-8">
			
		</div>
		<!-- <div class = "col-sm-1"> -->
			<!-- <button type="button" style = "color: blue;" class="btn btn-default btn-lg">
				<span class = "glyphicon glyphicon-globe"></span>
			</button> -->
		<!-- </div> -->
		<!-- <div class = "col-sm-1"> -->
			<!-- <button type="button" style = "color: blue;" class="btn btn-default btn-lg">
				<span class = "glyphicon glyphicon-envelope"></span>
			</button> -->
		<!-- </div> -->

		<!-- <div class = "col-sm-1"> -->
		<!-- <a href = "/logout">
		<button type = "button" style = "color: blue;" class = "btn btn-default btn-lg">
			<span class = "glyphicon glyphicon-user"></span>Logout</a>
		</button></a> -->
		<!-- </div> -->
	</div><br>
	<!-- <hr style = "display: block; color: #000; height: 7px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;" /> -->
	<div class = "row">
		<div style="border-right:1px solid #CCCCCC;height:500px" class = "col-md-3">
			<a href = "#" id = "allVehicles"><h3><span class = "glyphicon glyphicon-play"></span>All Vehicles</h3></a><br>
			<div id = "all_vehicles_div" class = "scroll">
				<ul id = "all_vehicles"></ul>
			</div>

			<a href = "#" id = "allCategories"><h3><span class = "glyphicon glyphicon-play"></span>All Categories</h3></a><br>
			<div class = "row">
				<div id = "all_categories" style = "font-size: 16px;" class = "col-md-5">
					
				</div>
				<div class = "col-md-7">
					<ul id = "expandList"></ul>
				</div>
			</div>

			<!-- <h5>Trucks</h5>
			<div class = "scrollCat">
	
			</div><br>
			<h5>Cars</h5>

			<div class = "scrollCat"></div><br>
			<h5>Delivery Vans</h5>
			<div class = "scrollCat"></div> -->
			<br><br>
			<a href="/addVehicle"><span class = "glyphicon glyphicon-plus"></span>New Vehicle</a>

		</div>
		<div class = "col-md-9">
			<div class = "col-md-8"></div>
			<div class = "col-md-4">
				<button id = "mapButton" class = "btn btn-default btn-sm currTab">Map</button><button id = "dashButton" class = "btn btn-default btn-sm">Dashboard</button><button id = "actButton" class = "btn btn-default btn-sm">Activities</button>
				<!-- <button class = "btn btn-default btn-sm" onclick = "removeLayers()">Remove</button> -->
			</div><br>

			<div style = "height: 640px; width: 800px;" id='map'></div>

			<div style = "height: 480px; display-block: none; width: 780px;" id='act'>
				<br>

				<div class = "row">
					<div class = "col-md-10"></div>
					<div class = "col-md-2">
						<a href = "/new_activity"><span class = "glyphicon glyphicon-plus"></span>New Activity</a>
					</div>

				</div>
				
			<table id = "vehicle_activities_table">
				<tr>
				    <th>Location</th>
				    <th>Issued Date</th>		
				    <th>Status</th>
				  </tr>
				  <!-- <tr>
				    <td>Jill</td>
				    <td>Smith</td>		
				    <td>50</td>
				  </tr>
				  <tr>
				    <td>Eve</td>
				    <td>Jackson</td>		
				    <td>94</td>
				  </tr>
				  <tr>
				    <td>John</td>
				    <td>Doe</td>		
				    <td>80</td>
				  </tr> -->
			</table>
			<br><br>
			<div class = "row">
			<div id = "bar-chart" class = "col-md-3">
			<h6>Frequency of visits</h6>
				
			</div>
			<div class = "col-md-2"></div>
			
				<div class = "col-md-7" >
				<h6>Activities</h6>
					 <div class = "scrollActs" id = "activity_list"></div>
				</div>

			</div>		

			</div>


			



		</div>


	</div>
	
	
</div><br>


<br>



<div class = "navbar-bottom" style = "background-color: #F0F8DD; margin-bottom:0px; height: 75px; padding-right: 100px;">
 	<br><p style = "float:right;"><b>Maulik Taranga Pvt. Ltd. </b> <br>copyright 2015</p>
</div>


<script type="text/javascript">
// var waypoints = [];
// var polyline_options = {
//             color: '#000'
// };



// Script for map - open 


var my_latitude = 27.68851;
var my_longitude = 85.33557;
var office_lat = 27.68139;
var office_long = 85.30197;


var popup = L.popup();

var map = L.map('map',{
                center: [my_latitude, my_longitude],
                zoom: 13
            });  

var newmarker; 
var circle; 
var polyLine; 


// map.on('click', onMapClick);

L.tileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
         	attribution: '&copy; <a href="#" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors Tiles Courtesy of <a href="http://facebook.com/bishes.adhikari" title="MapQuest" target="_blank">Bishes Adhikari<img src="icons/Photo0041.jpg" width="18" height="20"></a>',
          //subdomains: []m
          subdomains: ['otile1','otile2','otile3','otile4']
}).addTo( map );

var marker = L.marker([my_latitude, my_longitude]);
var marker2 = L.marker([office_lat, office_long]);
// map.addLayer(marker);
// map.addLayer(marker2);

// function removeLayers(){
	// map.removeLayer(marker);
	// map.removeLayer(marker2);
// }



// var popup = L.popup()
//     .setLatLng([51.5, -0.09])
//     .setContent("I am a standalone popup.")
//     .openOn(map);

function onMarkerClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("Location: " + e.latlng.toString())
        .openOn(map);
}

function onCircleClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("Stopped at: " + e.latlng.toString())
        .openOn(map);
}


function addToDeliverMarker(lat, lon, e){
			console.log('Marker function called with ' + lat + ', ' + lon);
			if(newmarker != undefined){
				map.removeLayer(newmarker);
			}
          // console.log('Plotting these: ' + lat + ', ' + lon);
          newmarker = L.marker([lat, lon]); //.addTo(map);  // Plotted 
          // newmarker.valueOf()._icon.style.backgroundColor = 'red';
          // newmarker.bindPopup("Marker at: " + e.latlng);

          newmarker.on('click', onMarkerClick);

          map.addLayer(newmarker);

     }




// var circle = L.circle([my_latitude, my_longitude], 250, {
//     color: 'red',
//     fillColor: '#f03',
//     fillOpacity: 0.5
// }).addTo(map);

function stoppage(lat, long, rad, e){
	console.log('Circle function calledc with ' + lat + ', ' + long);
		if(circle != undefined){
			map.removeLayer(circle);
		}	

		circle = L.circle([lat, long], rad, {
	    color: 'red',
	    fillColor: '#f03',
	    fillOpacity: 0.5
	}); //.addTo(map);	
// circle.bindPopup("Circle at: " + e.latlng);
circle.on('click', onCircleClick);

map.addLayer(circle);
		
}

// marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();


// function onMapClick(e) {
//     alert("Location " + e.latlng);
// }

// latlist = [27.703262, 27.726665, 27.671104, 27.701418, 27.68139]; 
//                       longlist = [85.311824, 85.345727, 85.324563, 85.320382, 85.30197];
//                       var polyline_options = {
// 					    color: '#000'
// 					};
// 					var locArray = [];
// 					for(i = 0; i < latlist.length; i++){
// 						wpts = [latlist[i], longlist[i]];
// 						locArray.push(wpts);
// 					}
// 					console.log(locArray);
// drawRoute(locArray, polyline_options);

function drawRoute(waypoints, polyline_options){
		console.log('Polyline function called qith ');
		if(polyLine != undefined){
			map.removeLayer(polyLine);
		}
		// console.log(waypoints);
        polyLine = L.polyline(waypoints, polyline_options); //.addTo(map);
        map.addLayer(polyLine);
}




</script>

<script type="text/javascript">
//Barchart // Reference the labelled graph from bargraph.html 
	var chartdata = [80, 120, 150];
 
//  the size of the overall svg element
var height = 180,
    // width = 300,
 
//  the width of each bar and the offset between each bar
    barWidth = 40,
    barOffset = 20;
 
 
d3.select('#bar-chart').append('svg')
  // .attr('width', width)
  .attr('height', height)
  .style('background', '#f0f8ff')
  .selectAll('rect').data(chartdata)
  .enter().append('rect')
    .style({'fill': '#3c763d', 'stroke': '#d6e9c6', 'stroke-width': '5'})
    .attr('width', barWidth)
    .attr('height', function (data) {
        return data;
    })
    .attr('x', function (data, i) {
        return i * (barWidth + barOffset);
    })
    .attr('y', function (data) {
        return height - data;
    });
    .attr("transform", function(d) { return "rotate(-90)" });


	// Script for map - close 
</script>
<!-- Calendar -->
<script type="text/javascript" src = "adminSource/calendar.js"></script>

<script type="text/javascript" src = "adminSource/dashboard.js"></script>

</body>
<!-- 


 -->
	<!-- // Script for activity graph - calendar  -->


</html>

