<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src = "formsJS/postvehicle.js"></script>
<style type="text/css">
	.input{

    /*background-color: #F5F5DC;*/
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
    width: 1000px;
    height: 300px;
}

</style>


<div class = "container"><a href = '/dashboard.html'><h1>Home</h1></a></div>


<div align = "center">

	<h2 style = "color: blue;">Add a Vehicle</h2>

<div class = "input">

	<table style="width:50%">

	<tr>
		<td> 
		<b>Delivery Vehicle</b> 
		</td> 
		<td> 
		<b>Driver's Name</b> 
		</td> 
<!-- 		<td>
		<b>Status</b>
		</td>
 -->
 	</tr>

	<tr>
		<td>
		<div class = "form-group"><input type = "text" class = "form-control" name = "vehicleid" id = "vehicleid"></div>

		</td> 


		<td>
			<div class = "form-group"><input type = "text" class = "form-control" name = "drivername" id = "drivername"></div>
		</td>


		<td>
		<div class = "form-group"><input type = "checkbox" class = "form-control" name = "status" id = "status" value = "available">Available</div>
		</td>
	</tr>

	</table>
	<br>
<input type = "submit" class = "btn btn-primary" value = "Add Vehicle" onclick = "sendData()">

</div>
</div>
